*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

/* Custom variables */
:root {
    --primary: rgb(0, 0, 0);
    --secondary: white;
    --alternative: hsla(100, 13%, 28%, 0.7);
    --bgHeaderFooter: rgb(79, 100, 95);
    --awesome: rgb(5, 68, 11);
    --link-box-shadow: .1rem .1rem .1rem var(--secondary);
    --card-box-shadow: .5vw .5vw 1vw rgba(90, 115, 132, 0.9);
    --img-box-shadow: .1rem .1rem .2rem var(--awesome);
    --text-shadow: .2rem .1rem .1rem rgba(78, 107, 91, 0.5);
    --mainBg: hsla(145, 83%, 20%, 0.39);
    --bgImg: linear-gradient(to right, var(--awesome), var(--mainBg));
    --drop-shadow: 2rem 2rem 1rem var(--mainBg);
}

/* Animate my profile image's coordinates. */
@property --top-left {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 25%;
}

@property --top-right {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 50%;
}

@property --bottom-left {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}

@property --bottom-right {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}

/* nav only */
.menu {
    position: sticky;
    top: 0;
}

/* nav and footer */
:is(.menu, footer) {
    background-color: var(--bgHeaderFooter);
}

/* display -> grid */
:is(body) {
    display: grid;

    &>* {
        width: 100%;
    }
}

/* display -> flex */
:is(.menu, .menu-list, .card) {
    display: flex;
}

body {
    grid-template-rows: auto minmax(100dvh, 100%) auto;
    text-align: center;
}

:is(main, .menu, .card) {
    padding: .2rem;
}

section {
    scroll-margin-block: 7rem;
}

.menu {
    justify-content: space-between;

    & :is(img[alt="logo"], a) {
        transition: all .5s linear;
    }

    & img[alt="logo"] {
        width: 5rem;
        aspect-ratio: 1;

        &:hover {
            scale: 1.1;
        }
    }

    & .menu-list {
        align-items: center;
        list-style: none;

        & li {
            padding-inline: .5rem;
        }

        & a {
            color: var(--secondary);
            text-decoration: none;
            padding-inline: .2rem;
            font-size: 1.1rem;

            &:is(:active, :hover, :focus) {
                color: var(--awesome);
                text-decoration: underline;
                box-shadow: var(--link-box-shadow);
                scale: 1.2;
            }
        }
    }

}

.card {
    flex-flow: column wrap;
    width: 40rem;
    border: 1px var(--awesome) solid;
    box-shadow: var(--card-box-shadow);
    margin-inline: auto;

    & img[alt="profile"] {
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        object-position: center;
        border-top-left-radius: var(--top-left);
        border-top-right-radius: var(--top-right);
        border-bottom-left-radius: var(--bottom-left);
        border-bottom-right-radius:
            var(--bottom-right);
        animation: animateProfile 5s infinite;
        box-shadow: var(--img-box-shadow);
    }

    & :is(h2) {
        font-size: 2.2rem;
        text-shadow: var(--text-shadow);

        &::first-letter {
            font-size: 2.2rem;
            color: var(--awesome);

        }
    }

    & #about-content {
        &::first-letter {
            color: var(--awesome);
            font-weight: bolder;
        }

        &::first-line {
            filter: drop-shadow(var(--drop-shadow));
        }
    }
}

/* Animation */
@keyframes animateProfile {
    to {
        --top-left: 0%;
        --top-right: 0%;
        --bottom-left: 40%;
        --bottom-right: 30%;
    }
}

/* Media queries */
@media screen and (width < 720px) {
    :is(nav) {
        flex-flow: column wrap;
        align-items: center;
    }

    .card {
        width: 100%;
    }
}

/* footer */
footer {
    & #footer-content {
        color: var(--secondary);
    }
}